@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
  --jog-primary: #31afb4;
  --jog-blue: #1222ac;
  --jog-black: #131313;
}

html, body{
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffffce;
  background-color: var(--jog-black);
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
  transition: .5s;
}

a:hover{
  color: inherit;
}

h1,
h2,
h3{
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  font-size: calc(1.375rem + 1.75vw);
}

h3{
  font-size: 1.2rem;
}

nav img{
  display: block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

nav li{
  position: relative;
}

nav a:hover{
  color: var(--jog-primary) !important;
}

nav a.nav-link::after{
  content: '';
  display: block;
  height: 5px;
  background-color: var(--jog-primary);
  position: absolute;
  left: 0;
  right: 75%;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s cubic-bezier(.86, 0, .07, 1);
}

nav a.nav-link:hover::after{
  transform: scaleX(1);
}

h1#name{
  color: var(--jog-primary);
  font-size: calc(1.075rem + .35vw);
}

section{
  margin-bottom: 4rem;
}

div#skills > div{
  margin-bottom: 2rem;
  --bs-gutter-x: .75rem;
}

.card{
  padding: .5rem;
  border-right: 2px solid var(--jog-primary);
  border-bottom: 2px solid var(--jog-primary);
  background-color: #0c0c0c;
  border-radius: 0 0 5px 0;
  transition: .5s;
}

.card:hover{
  transform: scale(1.05);
  transition: .5s;
}

.card-title{
  margin-top: 1rem;
  display: flex;
}

.card-title > h3{
  width: 100%;
  text-align: center;
  color: var(--jog-primary);
}

i.devicon{
  font-size: 55pt;
  color: var(--jog-primary);
  margin-left: auto;
  margin-right: auto;
}

.project{
  border-radius: 0 0 5px 0;
  transition: .5s;
  border-right: 2px solid var(--jog-primary);
  border-bottom: 2px solid var(--jog-primary);
  position: relative;
}

.project:hover{
  transform: scale(1.05);
  transition: .5s;
}

.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  opacity: 1;
}

.project:hover::before{
  opacity: 0;
  transition: .5s;
}

.project:hover .info{
  opacity: 0;
  transition: .5s;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: .5s;
}

.info > .item{
  width: fit-content;
}

.item > i{
  color: var(--jog-primary);
  font-size: 20pt;
}

#projects a{
  text-decoration: none;
  color: inherit;
}

#contacts .jumboIcon:hover{
  color: inherit;
  transform: scale(1.05) !important;
  transition: .5s;
}

#contacts .jumboIcon{
  margin-bottom: 1.3rem;
  transition: .5s;
}

#contacts .containerIcon{
  width: fit-content;
  background-color: var(--jog-primary);
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border-radius: 50%;
}

#contacts .contactsIcon{
  font-size: 25pt;
  color: #fff;
}

#contacts .contactTitle{
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
}

#contacts .contactInfo{
  font-size: 11pt;
  color: gray;
}

@media screen and (min-width: 993px) {
  nav a.nav-link::after{
    left: .6rem;
    right: .5rem;
  }
}